<div class="form-group">
    <%= f.label :rating %>
    <%= f.text_field :rate,
                     class: 'form-control',
                     placeholder: "Enter rate",
                     # what should go here?
                     value: rate%>
</div>
